:root {
    --primary-color: #415A77;
    --light-color: #778DA9;
    --dark-color: #0D1B2A;
    --light-background: #E0E1DD;
    --font-size: clamp(1rem, 0.75rem + 1.5vw, 2rem);
    --font-family: 'Rotobo', sans-serif;
}

html {
    font-size: var(--font-size);
    font-family: var(--font-family);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background: linear-gradient(135deg, var(--primary-color) 0%, var(--dark-color) 100%);
    background-attachment: fixed;
}

h1 {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 2rem;
}

/* Names input interface */
.names-interface {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 640px;
    height: 320px;
    gap: 16px;
    background: #1B263B;
    border: 1px solid var(--light-color);
    color: white;
    border-radius: 16px;
    padding: 64px;
    box-shadow: 2px 2px 10px black;
}

.start-button {
    background-color: var(--light-background);
    color: var(--dark-color);
    padding: 16px 32px;
    font-weight: bold;
    border-radius: 16px;
    box-shadow: 1px 1px 2px;
}

.start-button:hover {
    transform: translateY(-2px);
    box-shadow: 2px 2px 10px;
}

.names-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.name-input {
    width: 256px;
    height: 192px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.name-input input {
    width: 100%;
    border-radius: 16px;
    background-color: var(--light-background);
    text-align: center;
    font-style: italic;
}

.name-input label {
    color: var(--light-background);
    font-weight: 800;
}

/* Game board */

.cell {
    width: 128px;
    height: 128px;
    background-color: #fff;
}

.first-column, .second-column, .third-column {
    display: grid;
    gap: 16px;
}

.game-container {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 5fr 1fr;
}

.game-board {
    grid-column: 2 / 3;
    display: flex;
    gap: 16px;  
    background-color: #212529;
    box-shadow: 2px 2px 10px;
}

.hidden {
    display: none;
}