/* Roboto Font Faces */
@font-face {
  font-family: 'Roboto';
  src: url('../assets/Roboto-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/Roboto-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

:root {
    --dark-color: #0B0C0C;
    --light-color: #E9EAEC;
    --mid-color: #2A2E34;
    --gold-color: #FBE134;
    --dark-gold-color: #E4B61A;
}

/* Base Styles */
img {
    width: 256px;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  font-weight: 700;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    text-decoration: none;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 16px;
}

#tabs {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#tabs li {
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 4px;
}