/* Roboto Font Faces */
@font-face {
  font-family: 'Roboto';
  src: url('../assets/Roboto-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/Roboto-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

:root {
    --dark-color: #0B0C0C;
    --light-color: #E9EAEC;
    --mid-color: #2A2E34;
    --gold-color: #FBE134;
    --dark-gold-color: #E4B61A;
}

/* Base Styles */
img {
    width: 256px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--dark-color);
}

h1, h2, h3 {
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--light-color);
}

p {
  color: var(--light-color);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    text-decoration: none;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 16px;
    box-shadow: 0 4px 8px black;
    margin-bottom: 20px;
}

#logo {
  font-size: 28px;
  font-weight: 700;
  color: var(--light-color);
  letter-spacing: 1px;
  transition: color 0.3s ease;
}

#logo:hover {
  transform: scale(1.05);
  color: var(--light-color);
}

#tabs {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#tabs li {
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}


#tabs li.active {
  border-bottom: 3px solid var(--gold-color);
  color: var(--gold-color);
  font-weight: 700;
  text-shadow: 0 0 4px var(--dark-gold-color);
}

#tabs li:hover {
  background-color: var(--dark-gold-color);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: var(--dark-color);
  border-radius: 4px;
}

/* Home */
.home-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
