/* Roboto Font Faces */
@font-face {
    font-family: 'Roboto';
    src: url('@/assets/Roboto-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('@/assets/Roboto-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('@/assets/Roboto-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

:root {
    --light-green: #EFF6E0;
    --green-accent: #AEC3B0;
    --blue-primary: #598392;
    --blue-secondary: #124559;
    --dark-blue: #01161E;
}

* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1rem;
    min-height: 100vh;
}

.app {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    max-width: 1500px;
    border-radius: 1rem;
    background-color: var(--light-green);
    color: var(--dark-blue);
    box-shadow: 0 0 1rem 0 var(--green-accent);
}