.icon {
    width: 100px;
    height: 100px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.current-day-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    width: 650px;
    height: 500px;
    border: 1px solid black;
    background-color: #f0f0f0;
}

.day-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    width: 650px;
    height: 650px;
    background-color: #f0f0f0;
}

/* Forecast carousel */
.forecast {
    width: 70vw;
    overflow: hidden;
    position: relative;
}

.carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    transition: transform 0.3s ease-in-out;
    width: 100%;
}

.day-card {
    flex: 0 0 100%;
    box-sizing: border-box;
    min-width: 100%;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.buttons button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #e0e0e0;
}

.buttons button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
